<p id="notice"><%= notice %></p>

<p>
  <strong>Statement:</strong>
  <%= @question.statement %>
</p>

<p>
  <strong>Real answer:</strong>
  <%= @question.real_answer %>
</p>

<p>
  <strong>Fake answer1:</strong>
  <%= @question.fake_answer1 %>
</p>

<p>
  <strong>Fake answer2:</strong>
  <%= @question.fake_answer2 %>
</p>

<p>
  <strong>Fake answer3:</strong>
  <%= @question.fake_answer3 %>
</p>

<p>
  <strong>Fake answer4:</strong>
  <%= @question.fake_answer4 %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', quizzes_path %>
