<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>
<br>
<% @questions.each do |q| %>
	<p style="font-weight: bold;"><%= q.statement %></p>

	<% @answers = get_answers(q) %>
	<% @answers.shuffle.each do |a| %>
		<p><%= a %></p>
	<% end %>

	<br><br>
<% end %>


<%= link_to 'Back', quizzes_path %>
