<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @fake_answer.answer %>
</p>

<p>
  <strong>Question:</strong>
  <%= @fake_answer.question %>
</p>

<%= link_to 'Edit', edit_fake_answer_path(@fake_answer) %> |
<%= link_to 'Back', fake_answers_path %>
